@import '../../../../variables.css';

.card-wrapper{
    background-color: var(--light-dark);
    color: var(--light-white);
    margin: 30px 20px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
    
.card-wrapper img {
    width: 70px;
    height: 70px;
}
    
.card-wrapper h3 {
    color: var(--barber-orange);
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    letter-spacing: 2.25px;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
    
.card-wrapper p {
    text-align: center;
    padding: 0 10px;
}
