<app-feature-banner
  [head]="head"
  [coloredHead]="coloredHead"
></app-feature-banner>

<div class="about-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center"><span>NOSSA</span> HISTÓRIA</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-story">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est molestiae consequuntur esse, totam optio dolorem at doloremque. Laboriosam distinctio magnam,
           molestias quo totam suscipit optio incidunt id non ut voluptatem!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta est error vero fuga vel dolorum exercitationem ea,
           dolorem id aut nihil inventore aliquid ut cum. Commodi repellat optio inventore porro?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit magni cum impedit hic sunt, molestias omnis 
          iusto autem rerum voluptatibus reprehenderit enim repudiandae eaque ab accusamus sed qui odio!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sunt et perspiciatis, cumque voluptatem possimus, accusantium inventore recusandae quisquam neque iusto fugit nesciunt!
           Pariatur expedita nisi harum iusto nobis tenetur.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum possimus sapiente, beatae quam quis inventore nemo 
          aut optio velit facilis molestiae laboriosam modi perspiciatis ipsam quibusdam fugit non repellat.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio tenetur voluptate, distinctio, cumque porro aliquam voluptatum atque explicabo 
          animi perspiciatis sint, nisi debitis fugiat eos voluptatem. Iste, enim et! Earum.
        </p>
      </div>
    </div>
  </div>
</div>
