@import '../../variables.css';

* {
    box-sizing: border-box;
}

.text-center {
    text-align: center!important;
}

.row {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about-wrapper {
    background-color: var(--light-dark);
    padding: 50px 0;
}
    
.about-wrapper h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    letter-spacing: 2.25px;
    font-size: 3.5em;
    color: var(--light-white);
}

.about-wrapper span {
    color: var(--barber-orange);
}
    
.about-wrapper p {
    color: var(--light-white);
    padding: 10px 0;
}

.col-story {
    text-align: justify;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}