<app-feature-banner [head]="head" [coloredHead]="coloredHead"></app-feature-banner>

<div class="about-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center"><span>OUR</span> STORY</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <p>BarberX is located in California’s best kept secret, in a wonderfully charming small square hidden between Beauty and Handsome Street in the exclusive Rosa Lane. Rosa Lane itself is named after the infamous fair that took place on the site that is now known as Rosa Market. It was developed in by a Famous Rosa. It comprises of a number of small side streets with a variety of boutique shops, restaurants and impressive pubs.</p>
                <p>This is where John Smith decided would be the ideal place for his barber shop. The BarberX was opened by John in 2015 which he continued to run everyday since.</p>
                <p>John was well respected within the local community. Whilst running the barber shop, John also worked in the exclusive white’s gentlemen’s club in California, where he was proudly elected head barber socialising and working alongside some of California’s most influential people. He was famous for his warmth and down to earth personality.</p>
                <p>John’s dear friend and colleague, Trevor West has continued with his legacy and with her amazing team, who are very experienced in all aspects of barbering from classic to modern cuts and shaves, the place retains the warmth and friendliness that The BarberX has always been prized for.</p>
                <p>Gentlemen from all corners of California and further a field flock to our unique men’s salon for the pampering and high level of care they know they will receive. Customers are confident that they can count on our discretion and a professional service. They know they will leave our salon feeling and looking their best.</p>
                <p>We aim to be your home from home, where you always feel special and welcome within our relaxed, unhurried surroundings, all designed to ensure your total relaxation.</p>
            </div>
        </div>
    </div>
</div>