<app-feature-banner
  [head]="head"
  [coloredHead]="coloredHead"
></app-feature-banner>

<div class="contacts-wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-contact-card">
        <div class="contact-card-wrapper">
          <h2>LOCALIZAÇÃO</h2>
          <p>Estrada nacional, 8365-204, Pera, Algarve.</p>
        </div>
        <div class="contact-card-wrapper">
          <h2>CONTACTE NOS</h2>
          <p>INSTAGRAM - <a href="https://instagram.com/classicbarberpt">@classicbarberpt</a></p>
          <p>TELEFONE - 966.679.879</p>
          <p>EMAIL - breno060595@gmail.com</p>
        </div>
        <div class="contact-card-wrapper">
          <h2>HORÁRIO DE TRABALHO</h2>
          <p>Segunda - Sexta: 10:00 - 20:00</p>
          <p>Sábado: 10:00 - 15:00</p>
        </div>
      </div>
    </div>
  </div>
</div>
