@import '../../variables.css';

* {
    box-sizing: border-box;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: var(--light-white);
    text-decoration: none;
}

.contacts-wrapper{
    padding: 25px 0;
    color: var(--light-white);
    background-color: var(--light-dark);
}

.contact-card-wrapper {
    margin: 50px 0;
}
        
.contact-card-wrapper h2 {
    color: var(--barber-orange);
    font-family: 'Teko', sans-serif;
    letter-spacing: 2.25px;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.text-center {
    text-align: center!important;
}