@import "../../../variables.css";

.footer-wrapper {
    background: var(--bg-black);
    color: var(--light-white);
    padding: 60px 0;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2.25px;
    font-size: 1.5rem;
}

h3 {
    margin: 0 0 0.5rem 0;
    font-weight: 500;
    line-height: 1.2;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-wrapper span {
    color: var(--barber-orange);
}

.col-footer {
    flex: 0 0 100%;
    max-width: 100%;
}

.text-center {
    text-align: center!important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {

    .col-footer {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
