<app-feature-banner [head]="head" [coloredHead]="coloredHead"></app-feature-banner>

<div class="schedules-form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-form">
                <form>
                    <div class="form-group">
                        <input 
                        type="text" 
                        [(ngModel)]="name" 
                        [ngModelOptions]="{standalone: true}"
                        class="form-control" 
                        placeholder="Nome Completo"
                        required>
                    </div>
                    <div class="form-group">
                        <input 
                        type="text" 
                        [(ngModel)]="phone"
                        [ngModelOptions]="{standalone: true}"
                        class="form-control" 
                        placeholder="Telefone"
                        required>
                    </div>
                    <div class="form-group">
                        <input 
                        type="date" 
                        [(ngModel)]="date"
                        [ngModelOptions]="{standalone: true}"
                        class="form-control" 
                        placeholder="Data"
                        required>
                    </div>
                    <div class="form-group">
                        <select 
                        class="form-control" 
                        [(ngModel)]="selectedServOpt"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let s of servOpt" [ngValue]="s">{{ s }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" 
                        [(ngModel)]="selectedTimeOpt"
                        [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let t of timeOpt" [ngValue]="t">{{ t }}</option>
                        </select>


                    </div>
                    <div class="form-group">
                        <a class="form-control schedules-btn" href="https://api.whatsapp.com/send?phone=351966679875&text=Nome:%20{{ name }}%0ATelefone:%20{{ phone }}%0AData:%20{{ date | date | date:'dd-MM-yyyy'}}%0A%0AOl%C3%A1!%20Gostaria%20de%20agendar%20o%20servi%C3%A7o%20{{ selectedServOpt }}%20para%20o%20dia%20{{ date | date: 'dd'}}%20no%20hor%C3%A1rio%20{{ selectedTimeOpt }}." target="_blank">
                            Enviar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>