<div class="navbar navbar-expand-sm  navbar-custom animated fadeInUp fixed-top">
    <div class="container">
        <div class="navbar-br-tog">
            <a class="navbar-brand" routerLink="">
                <span>Classic Barber</span><img src="../../../assets/images/svgs/logo-white.svg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button"
            (click)="onClick()" 
            data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon"></span>
                <img src="../../../assets/images/svgs/burger-icon.svg" alt="burger-icon">
            </button>
        </div>
    
    
        <div class="collapse navbar-collapse nav-item-hide" id="navbarSupportedContent"
        [ngClass]="{ 'nav-items-show': isMenuOpen }">
            <ul class="navbar-nav text-center">
            <li class="nav-item">
                <a routerLink="/servicos" class="nav-link">Serviços</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sobre" class="nav-link">Quem Somos</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contactos" class="nav-link">Contactos</a>
            </li>
            <li class="nav-item">
                <a routerLink="/agendamentos" class="nav-link">Agendamentos</a>
            </li>
            </ul>
        </div>
    </div>
</div>
    