@import '../../../variables.css';

a {
    text-decoration: none;
    background-color: transparent;
}

.navbar {
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background: #030303;
    box-shadow: none;
}

.navbar-br-tog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-custom {
    justify-content: space-between;
    background: var(--bg-black);
    box-shadow: none;
}

.navbar-collapse {
    flex-grow: 0;
    }

.navi {
    padding-top: 40px;
    font-size: 20px;
}

#navbarSupportedContent a {
    display: flex;
    color: var(--light-white);
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand span {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    letter-spacing: 1.25px;
    color: white;
}

.navbar-brand img {
    width: 45px;
    height: 45px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: 48px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler span {
    width: 0px;
}

.navbar-toggler img {
    width: 25px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}

@media (min-width: 841px) {

    .navbar-expand-sm {
        flex-wrap: nowrap;
    }

    .navbar-toggler {
        visibility: hidden;
    }
}

@media (max-width: 840px) {
    .navbar-br-tog {
        flex-basis: 100%;
    }

    .navbar-toggler {
        visibility: visible;
        padding: 0.25rem 0.75rem;
        margin-right: 1rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .nav-item-hide {
        display: none;
    }

    .nav-items-show {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        background: var(--bg-black);
        box-shadow: none;
    }

    .nav-item {
        width: 100%;
    }

    .navbar-nav {
        display: flex;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: column;
    }

    .nav-link {
        font-size: 1rem;
    }

    #navbarSupportedContent a {
        display: flex;
        color: var(--light-white);
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}
