@import '../../variables.css';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.text-center {
    text-align: center!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-about {
    max-width: 33.333333%;
    padding: 0 15px 0 15px;
}

.col-about h2 {
    margin-bottom: 0.5rem;
}

.col-about p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.col-img {
    max-width: 100%;
}

.services-wrapper {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background-color: var(--light-dark);
    color: var(--light-white);
}    

.services-wrapper h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    letter-spacing: 2.25px;
    font-size: 3.5em;
    margin-top: 0;
}

.services-wrapper span {
    color: var(--barber-orange);
}
    
.services-wrapper p {
    padding: 15px 0 30px 0;
    margin-bottom: 2rem;
}

.services-wrapper img {
    max-width: 100%;
}

.cards-wrapper {
    padding: 70px 0;
    background-color: var(--bg-black);
}

.cards-wrapper h2{
    font-size: 3.5em;
    font-weight: 500;
    color: var(--light-white);
    font-family: 'Teko', sans-serif;
    letter-spacing: 2.25px;
}

.cards-wrapper span{
    color: var(--barber-orange);
}

.col-card {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row-cards {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

}

@media (max-width: 1100px) {
    .col-about {
        max-width: 100%;
        margin-bottom: 4rem;
    }

    .row-cards {
        align-items: center;
        flex-direction: column;
    }

    .col-card {
        max-width: 100%;
    }

}

/*ipads*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){

    .services-wrapper h2 {
        font-size: var(--ipad-h2);
    }
    
    .services-wrapper p {
        text-align: center;
    }

    .services-wrapper img {
        width: auto;
        height: auto;
    }

    .cards-wrapper h2 {
        font-size: var(--ipad-h2);
    }
}


/*phones like iphone 11*/
@media (max-width: 540px) {
    .services-wrapper h2 {
        font-size: var(--iphone11-h2);
    }
        
    .services-wrapper p {
        padding: 30px 0;
        text-align: center;
    }
    
    .services-wrapper a {
        margin-bottom: 50px;
    }
    
    .services-wrapper img {
        width: auto;
        height: auto;
    }

    .cards-wrapper h2 {
        font-size: var(--iphone11-h2);
    }


}

/*phones like iphone 6*/
@media (max-width: 375px) {
    .services-wrapper h2 {
        font-size: var(--iphone6-h2);
    }
     
    .services-wrapper p {
        font-size: var(--iphone6-p);
    }
    
    .cards-wrapper h2 {
        font-size: var(--iphone6-h2);
    }
}
  
/*small phones like iphone 5*/
@media (max-width: 350px) {
    .services-wrapper h2 {
        font-size: var(--iphone5-h2);
    }
        
    .services-wrapper p {
        font-size: var(--iphone5-p);
    }
    
    .services-wrapper a{
        padding: 20px 2em;
    }
    
    .cards-wrapper h2 {
        font-size: var(--iphone5-h2);
    }
}

