<app-feature-banner
  [head]="head"
  [coloredHead]="coloredHead"
></app-feature-banner>

<div class="services-wrapper">
  <div class="container">
    <div class="row-about">
      <div class="col-about">
        <h2 class="text-center">SOBRE <span>A NOSSA TECNOLOGIA</span></h2>
        <p>
          Nossa barbearia é o território criado exclusivamente para quem aprecia
          qualidade premium, tempo e visual impecável. Bem-vindo ao Classic
          Barber!
        </p>
        <div class="text-center">
          <a routerLink="" class="btn barber-x-btn">QUEM SOMOS</a>
        </div>
      </div>
      <div class="col-img">
        <img
          src="../../assets/images/our-services/about-tech.jpg"
          alt="about our tech image"
        />
      </div>
    </div>
  </div>
</div>

<div class="cards-wrapper">
  <div class="text-center">
    <h2>O QUE <span>OFERECEMOS</span></h2>
  </div>
  <div class="container">
    <div class="row-cards">
      <div class="col-card">
        <app-card
          [icon]="cards[0].img"
          [cardTitle]="cards[0].title"
          [description]="cards[0].desc"
        ></app-card>
      </div>
      <div class="col-card">
        <app-card
          [icon]="cards[1].img"
          [cardTitle]="cards[1].title"
          [description]="cards[1].desc"
        ></app-card>
      </div>
      <div class="col-card">
        <app-card
          [icon]="cards[2].img"
          [cardTitle]="cards[2].title"
          [description]="cards[2].desc"
        ></app-card>
      </div>
      <div class="col-card-bottom">
        <app-card
          [icon]="cards[3].img"
          [cardTitle]="cards[3].title"
          [description]="cards[3].desc"
        ></app-card>
      </div>
      <div class="col-card">
        <app-card
          [icon]="cards[4].img"
          [cardTitle]="cards[4].title"
          [description]="cards[4].desc"
        ></app-card>
      </div>
    </div>
  </div>
</div>
