<div class="price-wrapper">
  <div class="text-center">
    <h2><span>PREÇÁRIO</span></h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-price">
        <table>
          <tr>
            <td>CORTE DE CABELO</td>
            <td><span>Є12.50</span></td>
          </tr>
          <tr>
            <td>BARBEAR</td>
            <td><span>Є10</span></td>
          </tr>
          <tr>
            <td>CORTE DE CABELO + BARBEAR</td>
            <td><span>Є18</span></td>
          </tr>
          <tr>
            <td>SOBRANCELHA</td>
            <td><span>Є15</span></td>
          </tr>
          <tr>
            <td>OUTROS SERVIÇOS</td>
            <td><span>Sob consulta</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="btn barber-x-btn" routerLink="/services">VER TODOS OS SERVIÇOS</a>
  </div>
</div>
