<div class="price-wrapper">
    <div class="text-center">
        <h2><span>OUR</span> PRICES</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-price">
                <table>
                    <tr>
                        <td>HAIRCUT</td>
                        <td><span>$35</span></td>
                    </tr>
                    <tr>
                        <td>SHAVE</td>
                        <td><span>$30</span></td>
                    </tr>
                    <tr>
                        <td>HAIRCUT + SHAVE</td>
                        <td><span>$60</span></td>
                    </tr>
                    <tr>
                        <td>BEARD TRIM</td>
                        <td><span>$15</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn barber-x-btn" routerLink="/services">VIEW ALL SERVICES</a>
    </div>
</div>