<div class="price-wrapper">
  <div class="text-center">
    <h2><span>OUR</span> PRICES</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-price">
        <table>
          <tr>
            <td>CORTE DE CABELO</td>
            <td><span>Є35</span></td>
          </tr>
          <tr>
            <td>BARBEAR</td>
            <td><span>Є30</span></td>
          </tr>
          <tr>
            <td>CORTE DE CABELO + BARBEAR</td>
            <td><span>Є60</span></td>
          </tr>
          <tr>
            <td>APARAR BARBA</td>
            <td><span>Є15</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="btn barber-x-btn" routerLink="/services">VER TODOS OS SERVIÇOS</a>
  </div>
</div>
