@import '../../../../variables.css';

#feature-banner-wrapper {
    height: 70vh;
    background-image: url('../../../../assets/images/home/carousel/pic7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature-banner-wrapper h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    letter-spacing: 2.25px;
    font-size: 5.5em;
    color: var(--light-white);
    filter: drop-shadow(9px 9px 22px #101010);
    
}
 
#feature-banner-wrapper span {
    color: var(--barber-orange);
}
 
/*phones like iphone 11*/
@media (max-width: 540px) {
    #feature-banner-wrapper h1 {
        font-size: var(--iphone11-h1);
    }
}

/*phones like iphone 6*/
@media (max-width: 375px) {
    #feature-banner-wrapper h1 {
        font-size: var(--iphone6-h1);
    }
}
  
/*small phones like iphone 5*/
@media (max-width: 350px) {
    #feature-banner-wrapper h1 {
        font-size: var(--iphone5-h1);
    }
}