@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.css';


html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.barber-x-btn {
    font-family: 'Montserrat', sans-serif;
    color: var(--light-white);
    text-decoration: none;
    border-radius: 0;
    padding: 25px 3.1em;
    border: 5px solid var(--barber-orange);
}

.barber-x-btn:hover {
    transition: ease-in-out 0.3s 0.3s;
    background-color: var(--barber-orange);
    color: var(--light-white);
}