:root {
    --light-white: #e1e1e1;
    --barber-orange: #F36C4F;
    
    --light-dark: #101010;
    --bold-dark: #080808;
    --bg-black: #030303;
    
    --iphone11-h1: 4em;
    --iphone11-h2: 2.5em;
    --iphone11-p: 1em;
    
    --iphone6-h1: 3.5em;
    --iphone6-h2: 2em;
    --iphone6-p: 1em;
    
    --iphone5-h1: 3em;
    --iphone5-h2: 2em;
    --iphone5-p: 0.9em;
    
    --ipad-h2: 3em;
    --ipad-p: 0.9em;
}