<app-banner></app-banner>
<div class="split">
    <div>
        <h2>SERVIÇO <span>ALÉM<br>DAS EXPECTATIVAS</span></h2>

        <p>Our barbershop is the territory created purely for men who appreciate premium quality, time and flawless look. We'll help you to look stylish and confident in the most discreet way.</p>
        <a routerLink="/about" class="btn barber-x-btn" >LEIA A NOSSA HISTÓRIA</a>
    </div>
    <div>
        <h3>LOCALIZAÇÃO</h3>
        <p>Estrada nacional, 8365-204
            Pera, Algarve.</p>
    
        <h3>966<span>.</span>679<span>.</span>879</h3>
        <p>Segunda - Sexta: 10:00 - 20:00<br>Sábado: 10:00 - 15:00</p>
    </div>
</div>

<app-carousel></app-carousel>

<app-price-list></app-price-list>