<app-banner></app-banner>
<div class="split">
  <div>
    <h2>
      SERVIÇO <span>ALÉM<br />DAS EXPECTATIVAS</span>
    </h2>

    <p>
      Nossa barbearia é o território criado exclusivamente para homens que
      apreciam qualidade premium, tempo e visual impecável. Ajudaremos você a
      parecer elegante e confiante da maneira mais discreta.
    </p>
    <a routerLink="/about" class="btn barber-x-btn">LEIA A NOSSA HISTÓRIA</a>
  </div>
  <div>
    <h3>LOCALIZAÇÃO</h3>
    <p>Estrada nacional, 8365-204 Pera, Algarve.</p>

    <h3>966<span>.</span>679<span>.</span>875</h3>
    <p>Segunda - Sexta: 10:00 - 20:00<br />Sábado: 10:00 - 15:00</p>
  </div>
</div>

<app-carousel></app-carousel>

<app-price-list></app-price-list>
